* {
    margin: 0;
    padding: 0;
}

.popupLayout {
    position: fixed;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100%;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.customPopup {
    position: fixed;

    height: 450px;
    background: white;
    padding: 34px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 19px;
    background-color: rgb(235, 205, 135);


}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.btn button {
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    background-color: rgba(165, 42, 42, 0.717);
    color: white;
    font-weight: bolder;
       
}

.inputs {
    margin-top: 40px;

}

.inputs input {
    margin-top: 16px;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    font-size: 17px;
    font-family: sans-serif;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgba(165, 42, 42, 0.717);
}

.inputs textarea {
    margin-top: 10px;
    width: 310px;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 17px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    background-color: rgba(165, 42, 42, 0.717);
    border: none;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(144, 238, 144, 0.581);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header h1{
    font-family: sans-serif;
    font-size: 30px;
    color: black;
}
.header button{
    padding: 8px 20px 8px 20px;
    font-family: sans-serif;
    font-size: 19px;
  background-color: rgb(147, 246, 147);
    color: black;
    font-weight: bolder;
    border: 1px solid lightgreen;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
      /* overflow: auto; */
     
}

.child {
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 8px;
    background-color: rgba(144, 238, 144, 0.269);
    width: 40vw;
   padding: 60px 20px 0px 20px;
   /* overflow: auto; */
   /* height: 100vh; */
   
}

.head {
    text-align: center;
    font-family: sans-serif;
}
.price,
.des,
.product {
    margin-top: 40px;
      /* margin-left: 60px; */
 
}

.product input,
.price input,
.des input {
     /* display: flex;

       flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* padding-left: 20px; */
    margin-top: 14px;
    padding: 10px;
    /* width: 250px; */
    width: 90%;
    border-radius: 5px;
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.product p,
.price p,
.des p {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: left;
}
.inner{
    margin-top: 50px;
}
.add-btn{
   
    margin: 0 auto;
}
.add-btn button {
    margin-top: 40px;
    /* width: 270px; */
    width: 94%;
    margin: 40px auto;
    padding: 12px;
    background-color: lightgreen;
    border-radius: 8px;
    border: 1px solid lightgreen;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.add-btn button:active {
    background-color: transparent;
    border: 1px solid lightgreen;
}
@media screen and (max-width: 1440px) {
   .child{
    margin-top: 160px;
   } 
}
@media screen and (max-width: 768px) {
    .child {
        width: 90vw;
        padding: 20px;
        /* padding: 60px 20px 0px 20px; */
        /* margin-top: 200px; */
        margin-top:0px;
    }
    .product input,
    .price input,
    .des input {
        width: 90%;
       
    }
    .add-btn button {
        width: 100%;
    }
    .price,
    .des,
    .product{
        margin-left: 0px;
    }
     .header h1{
        font-size: 18px;
     }
     .header button{
        font-size: 14px;
     }
}